@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #0a0025;
	--dark-color-b: #002147;
	--light-color: #a1e4ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	background-image: linear-gradient(to right, rgb(0, 177, 221) , rgba(0, 20, 85, 0.973));
	margin: 20px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	
	font-size: 14px;
}

/* Chat Page */

.chat-container {
	max-width: 1000px;
	min-width: 300px;
	background: rgb(13, 0, 37);
	margin: 30px auto;
	overflow: hidden;

	border-radius: 20px;
}

.chat-header {
	/* bakground: var(--dark-color-a); */
	background-image: linear-gradient(to left, rgb(65, 0, 150) , rgba(0, 8, 34, 0.973));

	color: rgb(0, 224, 11);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	/* background: var(--dark-color-b); */
	background-image: linear-gradient(to left, rgb(65, 0, 150) , rgba(0, 8, 34, 0.973));

	color: rgb(0, 154, 214);
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h3 {
	font-size: 20px;
	background: rgba(214, 214, 214, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h5 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 20px;
	min-height: 100px;
	max-height: 500px;
	overflow-y: scroll;

}

.chat-messages .message {
	padding: 5px;
	margin-bottom: 15px;
	background-color: rgb(135, 221, 255);
	border-radius: 5px;

}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color:rgb(9, 0, 48);
	/* opacity: 0.7; */
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	padding-left: 10px;
	color: rgba(43, 0, 0, 0.637);
}

.chat-form-container {
	padding: 10px 20px;
	border-radius: 10px;
	/* background-color: re;s */
	background-image: linear-gradient(to left, rgb(65, 0, 150) , rgba(0, 27, 117, 0.973));

}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	border-radius: 5px;
	background-color: rgb(0, 6, 59);
	background-image: linear-gradient(to right, rgb(17, 0, 39) , rgba(4, 0, 22, 0.973));
	border:2px solid rgb(0, 49, 141);
	color: rgb(255, 255, 255);
	flex: 1;
}
.btn-outline-success{
	padding: 0% 5%;
}





/* Join Page have to edie */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}